body {
  font-family: "Noto Sans TC", sans-serif;
}
.sr-only {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}
.owl-theme .owl-nav {
  margin-top: 10px;
  position: absolute;
  top: -76px;
  left: 230px;
}
.owl-carousel .owl-stage-outer {
  padding-top: 10px;
  padding-bottom: 10px;
}
.owl-dots {
  opacity: 0;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: none !important;
}
// swiper
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  opacity: 0;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 24px;
  height: 10px;
  display: inline-block;
  border-radius: 10px;
  background: #333333;
  opacity: 1;
  transition: 0.5s;
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #ffff;
  width: 10px;
}

//swiper-end

//下拉手機選單
.drop-menu {
  z-index: 940857;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffca4e;
  padding-top: 37.43961vw;
  padding-bottom: 48vw;
  transform: translateY(-101%);
  transition: 0.5s;
  .phone-menu-close-btn {
    width: 13.5265vw;
    min-width: 45px;
    position: absolute;
    top: 5.5555vw;
    right: 8.6956vw;
    img {
      width: 100%;
      vertical-align: middle;
    }
  }
  .phone-menu-logo {
    width: 131px;
    margin-bottom: 40px;
    img {
      width: 100%;
    }
  }
}
.section-phone-meun {
  > ul {
    display: flex;
    flex-direction: column;
    .draw-dotted {
      width: 90%;
      margin: auto;
    }
    > li {
      display: flex;
      align-items: center;
      .nav-pic {
        width: 30px;
        margin-right: 20px;
        margin-left: 50px;
        img {
          width: 100%;
        }
      }
      > a {
        font-weight: 700;
        letter-spacing: 1px;
        padding: 30px 0;
        font-size: 20px;
        text-decoration: none;
        color: #1a1311;
      }
    }
  }
}
//查看更多
.index-watchMore {
  width: fit-content;
  padding-bottom: 10px;
  border-bottom: 1px solid #1a1311;
  padding: 0 14px;
  padding-bottom: 10px;
  a {
    color: #1a1311;
    font-size: 20px;
    margin-right: 0.6em;
    font-weight: 500;
    text-decoration: none;
    display: block;
    opacity: 1;
    transition: 0.3s;
  }
  .index-watchMore-pic {
    width: 14px;
    transform: translate(0px, -0px);
    transition: 0.3s;
    img {
      width: 100%;
    }
  }
}
.wrap {
  background-image: url(../src/phone/index/bg.png);
  background-size: cover;
  //phone-navbar
  .section-phone-navbar {
    background-color: #fff;
    padding: 23px 0;
    .phone-navbar-pic {
      width: 21.73913vw;
      min-width: 75px;
      margin-left: 8.21256vw;
      margin-right: 4.5893vw;
      img {
        width: 100%;
        vertical-align: middle;
      }
    }
    .menu-btn-pic {
      width: 13.5265vw;
      min-width: 45px;
      img {
        width: 100%;
        vertical-align: middle;
      }
    }
    .search-bar {
      display: flex;
      justify-content: start;
      margin-right: 4.347826vw;
      .form-pic-box {
        width: 45px;
        height: 45px;
        border-radius: 60px 0 0 60px;
        border: 1px solid #1a1311;
        border-right: none;
        .form-pic {
          width: 22px;
          img {
            width: 100%;
            vertical-align: middle;
          }
        }
      }
      input {
        width: 28.01932vw;
        min-width: 95px;
        font-size: 18px;
        border: 1px solid #1a1311;
        border-left: none;
        border-radius: 0 60px 60px 0;
        height: 45px;
        &::placeholder {
          color: #d1d1d1;
        }
        &:focus-visible {
          outline: none;
        }
      }
    }
  }
  .section-index-priceDm {
    padding-left: 0;
    padding-right: 0;
  }
  .section-index-priceDm-main {
    width: 74.87922%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section-index-product-main {
    width: 82.608695%;
    margin: auto;
    padding-bottom: 70px;
    .section-index-product-title {
      font-size: 30px;
      letter-spacing: 0.1em;
      font-weight: 500;
      padding-bottom: 27px;

      .index-product-pic {
        width: 28px;
        margin-right: 20px;
        img {
          width: 100%;
          vertical-align: middle;
        }
      }
    }
    .owl-bike {
      margin: auto;
      padding-bottom: 50px;
      .item {
        max-width: 342px;

        transition: 0.3s;
        &:hover .dark-box {
          opacity: 0;
        }
        &:hover {
          rotate: (5deg);
        }
        a {
          border-radius: 35px;
          overflow: hidden;
          text-decoration: none;
          .dark-box {
            width: 100%;
            inset: 0;
            opacity: 45%;
            background-color: #644a38;
            transition: 0.3s;
          }
          p {
            font-size: 25px;
            font-weight: 800;
            color: #1a1311;
            right: 22px;
            bottom: 22px;
          }
        }
      }
    }
  }
  .section-index-about {
    .section-index-about-main {
      background-color: #fff;
      width: 100%;
      padding: 50px 36px;
      position: relative;
      padding-bottom: 187px;
      .rideMotopic {
        right: 0;
        bottom: -10%;
        width: 56.0386vw;
        min-width: 150px;
        img {
          width: 100%;
        }
      }
      .section-index-about-pic {
        width: 100%;
        img {
          width: 100%;
        }
      }
      .section-index-about-content {
        width: 100%;
        padding-top: 40px;
        .index-about-watchMore {
          width: fit-content;
          padding-bottom: 10px;
          border-bottom: 1px solid #1a1311;
          padding: 0 14px;
          padding-bottom: 10px;
          margin-top: 170px;
          a {
            color: #1a1311;
            font-size: 20px;
            margin-right: 0.6em;
            font-weight: 500;
            text-decoration: none;
            display: block;
            opacity: 1;
            transition: 0.3s;
          }
          .index-about-watchMore-pic {
            width: 14px;
            transform: translate(0px, -0px);
            transition: 0.3s;
            img {
              width: 100%;
            }
          }
        }
        .section-index-about-title {
          margin-bottom: 1em;

          h3 {
            font-size: 30px;
            font-weight: 600;
            letter-spacing: 0.1em;
          }
          .section-index-about-icon {
            width: 23px;
            margin-right: 20px;
            img {
              width: 100%;
              vertical-align: bottom;
            }
          }
        }
        p {
          font-size: 20px;
          letter-spacing: 0.6px;
          font-weight: 500;
          line-height: 1.6;
        }
      }
    }
  }
  //footer 資訊
  .phone-footer-main {
    border-top: 1px solid #333333;
    width: 82.1256%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 45px;
  }
  .phone-footer-logo,
  .phone-footer-qcode {
    width: 106px;
    margin-bottom: 35px;
    img {
      width: 100%;
      vertical-align: middle;
    }
  }
  .footer-profile {
    padding-left: 0%;
    > ul {
      > li {
        display: flex;
        margin-bottom: 13px;
        .profile-pic {
          width: 16px;
          margin-right: 8px;
          img {
            width: 100%;
            vertical-align: middle;
          }
        }
        a {
          font-weight: 600;
          font-size: 17px;
          color: #1a1311;
          letter-spacing: 0.8px;
          text-decoration: none;
          line-height: 1.2;
        }
      }
    }
  }
}

//old methods write

.section-index-servie {
  padding-top: 260px;
  padding-bottom: 200px;
  .mySwiper {
    width: 85%;
    margin: auto;
    padding-bottom: 30px;
  }
  .section-index-servie-title {
    width: 86%;
    margin: auto;
    .servie-title-pic {
      width: 28px;
      img {
        width: 100%;
      }
    }
    h3 {
      font-size: 40px;
      letter-spacing: 0.1em;
      font-weight: 500;
      margin-left: 0.5em;
    }
  }
  .swiper-pagination-bullet {
    background-color: #9cb5ed;
  }
  .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #4e76cf;
    width: 10px;
  }
}

.section-copyright {
  text-align: center;
  border-top: 1px solid #1a1311;
  p {
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 1.6;
    font-weight: 500;
    padding-top: 1em;
    padding-bottom: 1em;

    a {
      text-decoration: none;
      color: #1a1311;
    }
  }
}

@media (min-width: 992px) {
  .owl-theme .owl-nav {
    margin-top: 10px;
    position: absolute;
    top: -100px;
    left: 230px;
  }
  //查看更多
  .index-watchMore {
    width: fit-content;
    padding-bottom: 10px;
    border-bottom: 1px solid #1a1311;
    padding: 0 14px;
    &:hover a {
      opacity: 0.45;
    }
    &:hover .index-watchMore-pic {
      transform: translate(5px, -10px);
      opacity: 0.45;
    }
    a {
      color: #1a1311;
      font-size: 20px;
      margin-right: 0.6em;
      font-weight: 500;
      text-decoration: none;
      display: block;
      opacity: 1;
      transition: 0.3s;
    }
    .index-watchMore-pic {
      width: 14px;
      transform: translate(0px, -10px);
      transition: 0.3s;
      img {
        width: 100%;
      }
    }
  }
  .wrap {
    position: relative;
    padding-top: 2.6041vw;
    width: 100%;
    display: flex;
    background-image: none;
    .search-bar {
      display: flex;
      justify-content: center;
      .form-pic-box {
        width: 54px;
        height: 54px;
        border-radius: 60px 0 0 60px;
        border: 1px solid #1a1311;
        border-right: none;
        .form-pic {
          width: 22px;
          img {
            width: 100%;
            vertical-align: middle;
          }
        }
      }
      input {
        width: 143px;
        font-size: 20px;
        border: 1px solid #1a1311;
        border-left: none;
        border-radius: 0 60px 60px 0;
        &::placeholder {
          color: #d1d1d1;
        }
        &:focus-visible {
          outline: none;
        }
      }
    }
    .nav-sticky-box {
      width: 100%;
    }
    .main-header {
      width: 17%;
      position: sticky;
      top: 0;
      left: 0;
      height: fit-content;
      .logobox {
        padding-bottom: 30px;
        .logo-pic {
          width: 61.818181%;
          margin: auto;
          img {
            vertical-align: middle;
          }
        }
      }

      .section-navbar {
        width: 100%;
        > ul {
          > li {
            width: 100%;
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            padding-left: 27%;
            &::before {
              content: "";
              display: block;
              width: 0;
              height: 100%;
              background-color: #fff7ee;
              position: absolute;
              top: 0;
              left: 0;
              transition: 0.4s ease-in;
              z-index: -1;
            }
            &:hover::before {
              width: 100%;
            }
            > a {
              margin: auto;
              font-size: 1.042vw;
              font-weight: 600;
              letter-spacing: 1px;
              color: #1a1311;
              padding: 0.8em 0;
              display: block;
              text-decoration: none;
              margin-left: 0.8em;
            }
          }
        }
      }
      .nav-pic {
        width: 1.554404vw;
        min-width: 20px;
        margin-right: 13px;
        img {
          width: 100%;
          vertical-align: middle;
        }
      }
      .section-qCode {
        padding: 35px 0;
        .qcode-pic {
          width: 112px;
          margin: auto;
          img {
            width: 100%;
            vertical-align: middle;
          }
        }
      }
      .section-search {
        padding-bottom: 41px;
        .search-bar {
          display: flex;
          justify-content: center;

          .form-pic-box {
            width: 54px;
            height: 54px;
            border-radius: 60px 0 0 60px;
            border: 1px solid #1a1311;
            border-right: none;
            margin-right: -1px;
            .form-pic {
              width: 22px;
              img {
                width: 100%;
                vertical-align: middle;
              }
            }
          }
          input {
            width: 7.447916vw;
            max-width: 140px;
            height: 54px;
            font-size: 1.042vw;
            border: 1px solid #1a1311;
            border-left: none;
            border-radius: 0 60px 60px 0;
            &::placeholder {
              color: #d1d1d1;
            }
            &:focus-visible {
              outline: none;
            }
          }
        }
      }
      .footer-profile {
        padding-left: 17%;

        > ul {
          > li {
            display: flex;
            margin-bottom: 18px;
            .profile-pic {
              width: 0.98958vw;
              min-width: 15px;
              margin-right: 11px;
              img {
                width: 100%;
                vertical-align: middle;
              }
            }
            a {
              font-weight: 600;
              font-size: 0.84vw;
              color: #1a1311;
              letter-spacing: 0.8px;
              text-decoration: none;
              line-height: 1.2;
            }
          }
        }
      }
    }
    .index-main {
      width: 83%;
      background-image: url(../src/web/index/bg.png);
      z-index: 1;
    }
    .section-index-priceDm-main {
      width: 68.1761%;
      margin: auto;
      padding-top: 130px;
      padding-bottom: 130px;
    }
    .section-index-product-main {
      width: 70.83333%;
      margin: auto;
      .section-index-product-title {
        font-size: 40px;
        letter-spacing: 0.1em;
        font-weight: 500;
        padding-bottom: 53px;

        .index-product-pic {
          width: 28px;
          margin-right: 20px;
          img {
            width: 100%;
            vertical-align: middle;
          }
        }
      }
      .owl-bike {
        margin: auto;
        padding-bottom: 63px;
        .item {
          max-width: 400px;
        }
      }
    }
    .section-index-about {
      .section-index-about-main {
        width: 89.30817%;
        padding: 55px 0px;
        position: relative;
        .rideMotopic {
          right: -5%;
          bottom: -23%;
          width: 18.22916vw;
          min-width: 250px;
          img {
            width: 100%;
          }
        }
        .section-index-about-pic {
          width: 55%;
          img {
            width: 100%;
          }
        }
        .section-index-about-content {
          width: 45%;
          padding-top: 95px;
          padding-left: 5%;
          .index-about-watchMore {
            width: fit-content;
            padding-bottom: 10px;
            border-bottom: 1px solid #1a1311;
            padding: 0 14px;
            padding-bottom: 10px;
            margin-right: auto;
            margin-top: 215px;
            &:hover a {
              opacity: 0.45;
            }
            &:hover .index-about-watchMore-pic {
              transform: translate(5px, 0px);
              opacity: 0.45;
            }
            a {
              color: #1a1311;
              font-size: 20px;
              margin-right: 0.6em;
              font-weight: 500;
              text-decoration: none;
              display: block;
              opacity: 1;
              transition: 0.3s;
            }
            .index-about-watchMore-pic {
              width: 14px;
              transform: translate(0px, -0px);
              transition: 0.3s;
              img {
                width: 100%;
              }
            }
          }
          .section-index-about-title {
            margin-bottom: 1em;

            h3 {
              font-size: 40px;

              letter-spacing: 1.5px;
            }
            .section-index-about-icon {
              width: 25px;
              margin-right: 20px;
              img {
                width: 100%;
                vertical-align: bottom;
              }
            }
          }
          p {
            font-size: 20px;
            letter-spacing: 0.6px;
            font-weight: 500;
            line-height: 1.6;
          }
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .swiper-pagination-bullet {
    width: 15px;
    height: 8px;
  }
  .swiper-pagination-bullet-active {
    width: 8px;
  }

  .section-index-servie {
    padding-top: 260px;
    padding-bottom: 57px;
    .mySwiper {
      width: 85%;
      margin: auto;
      padding-bottom: 16px;
      padding-top: 20px;
    }
    .section-index-servie-title {
      width: 86%;
      margin: auto;
      .servie-title-pic {
        width: 28px;
        img {
          width: 100%;
        }
      }
      h3 {
        font-size: 30px;
      }
    }
    .swiper-pagination-bullet {
      background-color: #9cb5ed;
    }
    .swiper-pagination-bullet-active {
      opacity: var(--swiper-pagination-bullet-opacity, 1);
      background: #4e76cf;
      width: 10px;
    }
  }
  .section-copyright {
    p {
      font-size: 17px;
      letter-spacing: 0.5px;
      line-height: 1.6;
      font-weight: 700;

      a {
        text-decoration: none;
        color: #1a1311;
      }
    }
  }
}
