@charset "UTF-8";
@import "../stylesheet/bootstrap.css";
@import "../stylesheet/fancybox.css";
@import "../stylesheet/swiper-bundle.min.css";
@import "../stylesheet/owl.carousel.min.css";
@import "../stylesheet/owl.theme.default.css";
@import "../stylesheet/reset.css";
body {
  font-family: "Noto Sans TC", sans-serif;
  position: relative;
}

.sr-only {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.gogotop {
  width: -moz-fit-content;
  width: fit-content;
  right: 20px;
  top: 80vh;
  z-index: 50;
}
.gogotop .gogotop-item {
  display: block;
  width: 30px;
  margin-bottom: 7px;
}
.gogotop .gogotop-item img {
  width: 100%;
  vertical-align: middle;
}

.owl-theme .owl-nav {
  margin-top: 10px;
  position: absolute;
  top: -76px;
  left: 230px;
}

.owl-carousel .owl-stage-outer {
  padding-top: 10px;
  padding-bottom: 10px;
}

.owl-dots {
  opacity: 0;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: none !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  opacity: 0;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet {
  width: 24px;
  height: 10px;
  display: inline-block;
  border-radius: 10px;
  background: #333333;
  opacity: 1;
  transition: 0.5s;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: white;
  width: 10px;
}

.drop-menu {
  z-index: 940857;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffca4e;
  padding-top: 37.43961vw;
  padding-bottom: 48vw;
  transform: translateY(-101%);
  transition: 0.5s;
}
.drop-menu .phone-menu-close-btn {
  width: 13.5265vw;
  min-width: 45px;
  position: absolute;
  top: 5.5555vw;
  right: 8.6956vw;
}
.drop-menu .phone-menu-close-btn img {
  width: 100%;
  vertical-align: middle;
}
.drop-menu .phone-menu-logo {
  width: 131px;
  margin-bottom: 40px;
}
.drop-menu .phone-menu-logo img {
  width: 100%;
}

.section-phone-meun > ul {
  display: flex;
  flex-direction: column;
}
.section-phone-meun > ul .draw-dotted {
  width: 90%;
  margin: auto;
}
.section-phone-meun > ul > li {
  display: flex;
  align-items: center;
}
.section-phone-meun > ul > li .nav-pic {
  width: 30px;
  margin-right: 20px;
  margin-left: 50px;
}
.section-phone-meun > ul > li .nav-pic img {
  width: 100%;
}
.section-phone-meun > ul > li > a {
  font-weight: 700;
  letter-spacing: 1px;
  padding: 30px 0;
  font-size: 20px;
  text-decoration: none;
  color: #1a1311;
}

.index-watchMore {
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 10px;
  border-bottom: 1px solid #1a1311;
  padding: 0 14px;
  padding-bottom: 10px;
}
.index-watchMore a {
  color: #1a1311;
  font-size: 20px;
  margin-right: 0.6em;
  font-weight: 500;
  text-decoration: none;
  display: block;
  opacity: 1;
  transition: 0.3s;
}
.index-watchMore .index-watchMore-pic {
  width: 14px;
  transform: translate(0px, 0px);
  transition: 0.3s;
}
.index-watchMore .index-watchMore-pic img {
  width: 100%;
}

.wrap {
  background-image: url(../src/phone/index/bg.png);
  background-size: cover;
}
.wrap .section-phone-navbar {
  background-color: #fff;
  padding: 23px 0;
}
.wrap .section-phone-navbar .phone-navbar-pic {
  width: 21.73913vw;
  min-width: 75px;
  margin-left: 8.21256vw;
  margin-right: 4.5893vw;
}
.wrap .section-phone-navbar .phone-navbar-pic img {
  width: 100%;
  vertical-align: middle;
}
.wrap .section-phone-navbar .menu-btn-pic {
  width: 13.5265vw;
  min-width: 45px;
}
.wrap .section-phone-navbar .menu-btn-pic img {
  width: 100%;
  vertical-align: middle;
}
.wrap .section-phone-navbar .search-bar {
  display: flex;
  justify-content: start;
  margin-right: 4.347826vw;
}
.wrap .section-phone-navbar .search-bar .form-pic-box {
  width: 45px;
  height: 45px;
  border-radius: 60px 0 0 60px;
  border: 1px solid #1a1311;
  border-right: none;
}
.wrap .section-phone-navbar .search-bar .form-pic-box .form-pic {
  width: 22px;
}
.wrap .section-phone-navbar .search-bar .form-pic-box .form-pic img {
  width: 100%;
  vertical-align: middle;
}
.wrap .section-phone-navbar .search-bar input {
  width: 28.01932vw;
  min-width: 95px;
  font-size: 18px;
  border: 1px solid #1a1311;
  border-left: none;
  border-radius: 0 60px 60px 0;
  height: 45px;
}
.wrap .section-phone-navbar .search-bar input::-moz-placeholder {
  color: #d1d1d1;
}
.wrap .section-phone-navbar .search-bar input::placeholder {
  color: #d1d1d1;
}
.wrap .section-phone-navbar .search-bar input:focus-visible {
  outline: none;
}
.wrap .section-index-priceDm {
  padding-left: 0;
  padding-right: 0;
}
.wrap .section-index-priceDm-main {
  width: 74.87922%;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
.wrap .section-index-product-main {
  width: 82.608695%;
  margin: auto;
  padding-bottom: 70px;
}
.wrap .section-index-product-main .section-index-product-title {
  font-size: 30px;
  letter-spacing: 0.1em;
  font-weight: 500;
  padding-bottom: 27px;
}
.wrap .section-index-product-main .section-index-product-title .index-product-pic {
  width: 28px;
  margin-right: 20px;
}
.wrap .section-index-product-main .section-index-product-title .index-product-pic img {
  width: 100%;
  vertical-align: middle;
}
.wrap .section-index-product-main .owl-bike {
  margin: auto;
  padding-bottom: 50px;
}
.wrap .section-index-product-main .owl-bike .item {
  max-width: 342px;
  transition: 0.3s;
}
.wrap .section-index-product-main .owl-bike .item:hover .dark-box {
  opacity: 0;
}
.wrap .section-index-product-main .owl-bike .item:hover {
  rotate: -5deg;
}
.wrap .section-index-product-main .owl-bike .item a {
  border-radius: 35px;
  overflow: hidden;
  text-decoration: none;
}
.wrap .section-index-product-main .owl-bike .item a .dark-box {
  width: 100%;
  inset: 0;
  opacity: 45%;
  background-color: #644a38;
  transition: 0.3s;
}
.wrap .section-index-product-main .owl-bike .item a p {
  font-size: 25px;
  font-weight: 800;
  color: #1a1311;
  right: 22px;
  bottom: 22px;
}
.wrap .section-index-product-main .owl-bike .item .product-index-price {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 1em 0;
  justify-content: space-between;
}
.wrap .section-index-product-main .owl-bike .item .product-index-price span {
  color: #b2b2b2;
}
.wrap .section-index-product-main .owl-bike .item .product-index-price p {
  font-size: 18px;
  color: #ef1d1d;
}
.wrap .section-index-about .section-index-about-main {
  background-color: #fff;
  width: 100%;
  padding: 50px 36px;
  position: relative;
  padding-bottom: 187px;
}
.wrap .section-index-about .section-index-about-main .rideMotopic {
  right: 0;
  bottom: -10%;
  width: 56.0386vw;
  min-width: 150px;
}
.wrap .section-index-about .section-index-about-main .rideMotopic img {
  width: 100%;
}
.wrap .section-index-about .section-index-about-main .section-index-about-pic {
  width: 100%;
}
.wrap .section-index-about .section-index-about-main .section-index-about-pic img {
  width: 100%;
}
.wrap .section-index-about .section-index-about-main .section-index-about-content {
  width: 100%;
  padding-top: 40px;
}
.wrap .section-index-about .section-index-about-main .section-index-about-content .index-about-watchMore {
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 10px;
  border-bottom: 1px solid #1a1311;
  padding: 0 14px;
  padding-bottom: 10px;
  margin-top: 170px;
}
.wrap .section-index-about .section-index-about-main .section-index-about-content .index-about-watchMore a {
  color: #1a1311;
  font-size: 20px;
  margin-right: 0.6em;
  font-weight: 500;
  text-decoration: none;
  display: block;
  opacity: 1;
  transition: 0.3s;
}
.wrap .section-index-about .section-index-about-main .section-index-about-content .index-about-watchMore .index-about-watchMore-pic {
  width: 14px;
  transform: translate(0px, 0px);
  transition: 0.3s;
}
.wrap .section-index-about .section-index-about-main .section-index-about-content .index-about-watchMore .index-about-watchMore-pic img {
  width: 100%;
}
.wrap .section-index-about .section-index-about-main .section-index-about-content .section-index-about-title {
  margin-bottom: 1em;
}
.wrap .section-index-about .section-index-about-main .section-index-about-content .section-index-about-title h3 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.1em;
}
.wrap .section-index-about .section-index-about-main .section-index-about-content .section-index-about-title .section-index-about-icon {
  width: 23px;
  margin-right: 20px;
}
.wrap .section-index-about .section-index-about-main .section-index-about-content .section-index-about-title .section-index-about-icon img {
  width: 100%;
  vertical-align: bottom;
}
.wrap .section-index-about .section-index-about-main .section-index-about-content p {
  font-size: 20px;
  letter-spacing: 0.6px;
  font-weight: 500;
  line-height: 1.6;
}
.wrap .phone-footer-main {
  border-top: 1px solid #333333;
  width: 82.1256%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 45px;
}
.wrap .phone-footer-logo,
.wrap .phone-footer-qcode {
  width: 106px;
  margin-bottom: 35px;
}
.wrap .phone-footer-logo img,
.wrap .phone-footer-qcode img {
  width: 100%;
  vertical-align: middle;
}
.wrap .footer-profile {
  padding-left: 0%;
}
.wrap .footer-profile > ul > li {
  display: flex;
  margin-bottom: 13px;
}
.wrap .footer-profile > ul > li .profile-pic {
  width: 16px;
  margin-right: 8px;
}
.wrap .footer-profile > ul > li .profile-pic img {
  width: 100%;
  vertical-align: middle;
}
.wrap .footer-profile > ul > li a {
  font-weight: 600;
  font-size: 17px;
  color: #1a1311;
  letter-spacing: 0.8px;
  text-decoration: none;
  line-height: 1.2;
}

.section-index-servie {
  padding-top: 260px;
  padding-bottom: 200px;
}
.section-index-servie .mySwiper {
  width: 85%;
  margin: auto;
  padding-bottom: 30px;
}
.section-index-servie .section-index-servie-title {
  width: 86%;
  margin: auto;
}
.section-index-servie .section-index-servie-title .servie-title-pic {
  width: 28px;
}
.section-index-servie .section-index-servie-title .servie-title-pic img {
  width: 100%;
}
.section-index-servie .section-index-servie-title h3 {
  font-size: 40px;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-left: 0.5em;
}
.section-index-servie .swiper-pagination-bullet {
  background-color: #9cb5ed;
}
.section-index-servie .swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #4e76cf;
  width: 10px;
}

.section-copyright {
  text-align: center;
  border-top: 1px solid #1a1311;
}
.section-copyright p {
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 1.6;
  font-weight: 500;
  padding-top: 1em;
  padding-bottom: 1em;
}
.section-copyright p a {
  text-decoration: none;
  color: #1a1311;
}

@media (min-width: 992px) {
  .gogotop {
    right: 50px;
    top: 60vh;
  }
  .gogotop .gogotop-item {
    width: 50px;
    margin-bottom: 14px;
  }
  .owl-theme .owl-nav {
    margin-top: 10px;
    position: absolute;
    top: -100px;
    left: 230px;
  }
  .index-watchMore {
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 10px;
    border-bottom: 1px solid #1a1311;
    padding: 0 14px;
  }
  .index-watchMore:hover a {
    opacity: 0.45;
  }
  .index-watchMore:hover .index-watchMore-pic {
    transform: translate(5px, -10px);
    opacity: 0.45;
  }
  .index-watchMore a {
    color: #1a1311;
    font-size: 20px;
    margin-right: 0.6em;
    font-weight: 500;
    text-decoration: none;
    display: block;
    opacity: 1;
    transition: 0.3s;
  }
  .index-watchMore .index-watchMore-pic {
    width: 14px;
    transform: translate(0px, -10px);
    transition: 0.3s;
  }
  .index-watchMore .index-watchMore-pic img {
    width: 100%;
  }
  .wrap {
    position: relative;
    padding-top: 2.6041vw;
    width: 100%;
    display: flex;
    background-image: none;
  }
  .wrap .search-bar {
    display: flex;
    justify-content: center;
  }
  .wrap .search-bar .form-pic-box {
    width: 54px;
    height: 54px;
    border-radius: 60px 0 0 60px;
    border: 1px solid #1a1311;
    border-right: none;
  }
  .wrap .search-bar .form-pic-box .form-pic {
    width: 22px;
  }
  .wrap .search-bar .form-pic-box .form-pic img {
    width: 100%;
    vertical-align: middle;
  }
  .wrap .search-bar input {
    width: 143px;
    font-size: 20px;
    border: 1px solid #1a1311;
    border-left: none;
    border-radius: 0 60px 60px 0;
  }
  .wrap .search-bar input::-moz-placeholder {
    color: #d1d1d1;
  }
  .wrap .search-bar input::placeholder {
    color: #d1d1d1;
  }
  .wrap .search-bar input:focus-visible {
    outline: none;
  }
  .wrap .nav-sticky-box {
    width: 100%;
  }
  .wrap .main-header {
    width: 17%;
    position: sticky;
    top: 0;
    left: 0;
    height: -moz-fit-content;
    height: fit-content;
  }
  .wrap .main-header .logobox {
    padding-bottom: 30px;
  }
  .wrap .main-header .logobox .logo-pic {
    width: 61.818181%;
    margin: auto;
  }
  .wrap .main-header .logobox .logo-pic img {
    vertical-align: middle;
  }
  .wrap .main-header .section-navbar {
    width: 100%;
  }
  .wrap .main-header .section-navbar > ul > li {
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    padding-left: 27%;
  }
  .wrap .main-header .section-navbar > ul > li::before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    background-color: #fff7ee;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s ease-in;
    z-index: -1;
  }
  .wrap .main-header .section-navbar > ul > li:hover::before {
    width: 100%;
  }
  .wrap .main-header .section-navbar > ul > li > a {
    margin: auto;
    font-size: 1.042vw;
    font-weight: 600;
    letter-spacing: 1px;
    color: #1a1311;
    padding: 0.8em 0;
    display: block;
    text-decoration: none;
    margin-left: 0.8em;
  }
  .wrap .main-header .nav-pic {
    width: 1.554404vw;
    min-width: 20px;
    margin-right: 13px;
  }
  .wrap .main-header .nav-pic img {
    width: 100%;
    vertical-align: middle;
  }
  .wrap .main-header .section-qCode {
    padding: 35px 0;
  }
  .wrap .main-header .section-qCode .qcode-pic {
    width: 112px;
    margin: auto;
  }
  .wrap .main-header .section-qCode .qcode-pic img {
    width: 100%;
    vertical-align: middle;
  }
  .wrap .main-header .section-search {
    padding-bottom: 41px;
  }
  .wrap .main-header .section-search .search-bar {
    display: flex;
    justify-content: center;
  }
  .wrap .main-header .section-search .search-bar .form-pic-box {
    width: 54px;
    height: 54px;
    border-radius: 60px 0 0 60px;
    border: 1px solid #1a1311;
    border-right: none;
    margin-right: -1px;
  }
  .wrap .main-header .section-search .search-bar .form-pic-box .form-pic {
    width: 22px;
  }
  .wrap .main-header .section-search .search-bar .form-pic-box .form-pic img {
    width: 100%;
    vertical-align: middle;
  }
  .wrap .main-header .section-search .search-bar input {
    width: 7.447916vw;
    max-width: 140px;
    height: 54px;
    font-size: 1.042vw;
    border: 1px solid #1a1311;
    border-left: none;
    border-radius: 0 60px 60px 0;
  }
  .wrap .main-header .section-search .search-bar input::-moz-placeholder {
    color: #d1d1d1;
  }
  .wrap .main-header .section-search .search-bar input::placeholder {
    color: #d1d1d1;
  }
  .wrap .main-header .section-search .search-bar input:focus-visible {
    outline: none;
  }
  .wrap .main-header .footer-profile {
    padding-left: 17%;
  }
  .wrap .main-header .footer-profile > ul > li {
    display: flex;
    margin-bottom: 18px;
  }
  .wrap .main-header .footer-profile > ul > li .profile-pic {
    width: 0.98958vw;
    min-width: 15px;
    margin-right: 11px;
  }
  .wrap .main-header .footer-profile > ul > li .profile-pic img {
    width: 100%;
    vertical-align: middle;
  }
  .wrap .main-header .footer-profile > ul > li a {
    font-weight: 600;
    font-size: 0.84vw;
    color: #1a1311;
    letter-spacing: 0.8px;
    text-decoration: none;
    line-height: 1.2;
  }
  .wrap .index-main {
    width: 83%;
    background-image: url(../src/web/index/bg.png);
    z-index: 1;
  }
  .wrap .section-index-priceDm-main {
    width: 68.1761%;
    margin: auto;
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .wrap .section-index-product-main {
    width: 70.83333%;
    margin: auto;
  }
  .wrap .section-index-product-main .section-index-product-title {
    font-size: 40px;
    letter-spacing: 0.1em;
    font-weight: 500;
    padding-bottom: 53px;
  }
  .wrap .section-index-product-main .section-index-product-title .index-product-pic {
    width: 28px;
    margin-right: 20px;
  }
  .wrap .section-index-product-main .section-index-product-title .index-product-pic img {
    width: 100%;
    vertical-align: middle;
  }
  .wrap .section-index-product-main .owl-bike {
    margin: auto;
    padding-bottom: 63px;
  }
  .wrap .section-index-product-main .owl-bike .item {
    max-width: 400px;
  }
  .wrap .section-index-about .section-index-about-main {
    width: 89.30817%;
    padding: 55px 0px;
    position: relative;
  }
  .wrap .section-index-about .section-index-about-main .rideMotopic {
    right: -5%;
    bottom: -23%;
    width: 18.22916vw;
    min-width: 250px;
  }
  .wrap .section-index-about .section-index-about-main .rideMotopic img {
    width: 100%;
  }
  .wrap .section-index-about .section-index-about-main .section-index-about-pic {
    width: 55%;
  }
  .wrap .section-index-about .section-index-about-main .section-index-about-pic img {
    width: 100%;
  }
  .wrap .section-index-about .section-index-about-main .section-index-about-content {
    width: 45%;
    padding-top: 95px;
    padding-left: 5%;
  }
  .wrap .section-index-about .section-index-about-main .section-index-about-content .index-about-watchMore {
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 10px;
    border-bottom: 1px solid #1a1311;
    padding: 0 14px;
    padding-bottom: 10px;
    margin-right: auto;
    margin-top: 215px;
  }
  .wrap .section-index-about .section-index-about-main .section-index-about-content .index-about-watchMore:hover a {
    opacity: 0.45;
  }
  .wrap .section-index-about .section-index-about-main .section-index-about-content .index-about-watchMore:hover .index-about-watchMore-pic {
    transform: translate(5px, 0px);
    opacity: 0.45;
  }
  .wrap .section-index-about .section-index-about-main .section-index-about-content .index-about-watchMore a {
    color: #1a1311;
    font-size: 20px;
    margin-right: 0.6em;
    font-weight: 500;
    text-decoration: none;
    display: block;
    opacity: 1;
    transition: 0.3s;
  }
  .wrap .section-index-about .section-index-about-main .section-index-about-content .index-about-watchMore .index-about-watchMore-pic {
    width: 14px;
    transform: translate(0px, 0px);
    transition: 0.3s;
  }
  .wrap .section-index-about .section-index-about-main .section-index-about-content .index-about-watchMore .index-about-watchMore-pic img {
    width: 100%;
  }
  .wrap .section-index-about .section-index-about-main .section-index-about-content .section-index-about-title {
    margin-bottom: 1em;
  }
  .wrap .section-index-about .section-index-about-main .section-index-about-content .section-index-about-title h3 {
    font-size: 40px;
    letter-spacing: 1.5px;
  }
  .wrap .section-index-about .section-index-about-main .section-index-about-content .section-index-about-title .section-index-about-icon {
    width: 25px;
    margin-right: 20px;
  }
  .wrap .section-index-about .section-index-about-main .section-index-about-content .section-index-about-title .section-index-about-icon img {
    width: 100%;
    vertical-align: bottom;
  }
  .wrap .section-index-about .section-index-about-main .section-index-about-content p {
    font-size: 20px;
    letter-spacing: 0.6px;
    font-weight: 500;
    line-height: 1.6;
  }
}
@media (max-width: 992px) {
  .swiper-pagination-bullet {
    width: 15px;
    height: 8px;
  }
  .swiper-pagination-bullet-active {
    width: 8px;
  }
  .section-index-servie {
    padding-top: 260px;
    padding-bottom: 57px;
  }
  .section-index-servie .mySwiper {
    width: 85%;
    margin: auto;
    padding-bottom: 16px;
    padding-top: 20px;
  }
  .section-index-servie .section-index-servie-title {
    width: 86%;
    margin: auto;
  }
  .section-index-servie .section-index-servie-title .servie-title-pic {
    width: 28px;
  }
  .section-index-servie .section-index-servie-title .servie-title-pic img {
    width: 100%;
  }
  .section-index-servie .section-index-servie-title h3 {
    font-size: 30px;
  }
  .section-index-servie .swiper-pagination-bullet {
    background-color: #9cb5ed;
  }
  .section-index-servie .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #4e76cf;
    width: 10px;
  }
  .section-copyright p {
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 1.6;
    font-weight: 700;
  }
  .section-copyright p a {
    text-decoration: none;
    color: #1a1311;
  }
}
.section-bread .section-bread-main {
  width: 79.874213%;
  margin: auto;
}
.section-bread .section-bread-main .bread-list {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  flex-wrap: wrap;
}
.section-bread .section-bread-main .bread-list li {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}
.section-bread .section-bread-main .bread-list li + li {
  margin-left: 10px;
}
.section-bread .section-bread-main .bread-list li a {
  text-decoration: none;
  padding: 1em 0;
  display: block;
}
.section-bread .section-bread-main .section-bread-pic {
  width: 20px;
}
.section-bread .section-bread-main .section-bread-pic img {
  width: 100%;
  vertical-align: middle;
}

.section-page-content .section-page-article-main {
  width: 79.874213%;
  margin: auto;
  padding-bottom: 200px;
}
.section-page-content .section-page-article-main .page-article-box {
  width: 100%;
  padding-bottom: 180px;
}
.section-page-content .section-page-article-main .page-article-box .section-page-article-title {
  padding: 35px 0;
  border-bottom: 1px dashed #1a1311;
}
.section-page-content .section-page-article-main .page-article-box .section-page-article-title h3 {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
}
.section-page-content .section-page-article-main .page-article-box .section-page-article-title .article-title-icon {
  margin-right: 1em;
  width: 28px;
}
.section-page-content .section-page-article-main .page-article-box .section-page-article-title .article-title-icon img {
  width: 100%;
  vertical-align: middle;
}
.section-page-content .section-page-article-main .page-article-box .section-page-article-content {
  padding: 2rem 2rem 0px 2rem;
}
.section-page-content .section-page-article-main .page-article-box .section-page-article-content h4 {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1.75px;
  margin-bottom: 0.8em;
  line-height: 1.6;
}
.section-page-content .section-page-article-main .page-article-box .section-page-article-content p {
  font-size: 20px;
  margin-bottom: 1em;
  letter-spacing: 1.25px;
  font-weight: 500;
  line-height: 1.6;
}
.section-page-content .page-article-content-bigPic {
  padding-top: 100px;
}

@media (max-width: 991px) {
  .section-bread .section-bread-main {
    width: 85%;
    margin: auto;
  }
  .section-bread .section-bread-main .bread-list li {
    font-size: 13px;
  }
  .section-bread .section-bread-main .bread-list li + li {
    margin-left: 5px;
  }
  .section-bread .section-bread-main .bread-list li a {
    text-decoration: none;
    padding: 1em 0;
    display: block;
  }
  .section-bread .section-bread-main .section-bread-pic {
    width: 14px;
  }
}
.section-page-content .section-page-article-main {
  width: 82.608695%;
  margin: auto;
  padding-bottom: 50px;
}
.section-page-content .section-page-article-main .page-article-box {
  width: 100%;
  padding-bottom: 50px;
}
.section-page-content .section-page-article-main .page-article-box .section-page-article-title {
  padding: 20px 0;
}
.section-page-content .section-page-article-main .page-article-box .section-page-article-title h3 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.section-page-content .section-page-article-main .page-article-box .section-page-article-title .article-title-icon {
  width: 28px;
}
.section-page-content .section-page-article-main .page-article-box .section-page-article-content {
  padding: 1rem 0;
}
.section-page-content .section-page-article-main .page-article-box .section-page-article-content h4 {
  font-size: 30px;
}
.section-page-content .section-page-article-main .page-article-box .section-page-article-content p {
  font-size: 20px;
}
.section-page-content .page-article-content-bigPic {
  padding-top: 65px;
}

.section-product-nav {
  padding: 14.5px 0;
  width: 100%;
  border-top: 1px dashed #1a1311;
  border-bottom: 1px dashed #1a1311;
}
.section-product-nav > ul {
  width: -moz-fit-content;
  width: fit-content;
}
.section-product-nav > ul li + li {
  border-left: 1px dashed #1a1311;
}
.section-product-nav > ul li:last-child {
  border-right: 1px dashed #1a1311;
}
.section-product-nav > ul li:first-child {
  border-left: 1px dashed #1a1311;
}
.section-product-nav > ul li a {
  font-size: 22px;
  color: #1a1311;
  letter-spacing: 1.2px;
  text-decoration: none;
  padding: 23px 35px;
}
.section-product-nav > ul li a:hover {
  color: #f8b11b;
}
.section-product-nav > ul li .tainan-active {
  color: #f8b11b;
}

.menu-list-phone .accordion-button::after {
  display: none;
}
.menu-list-phone .accordion-button:not(.collapsed) {
  box-shadow: none;
}
.menu-list-phone .phone-menu-item:first-child .accordion-button {
  border-bottom: 1px dashed #1a1311;
}
.menu-list-phone .phone-menu-item + .phone-menu-item {
  transform: translateY(-2px);
  border-top: 1px dashed #1a1311;
}
.menu-list-phone .accordion-item {
  border-radius: 0;
}
.menu-list-phone .menu-list-title {
  background-color: #1a1311;
}
.menu-list-phone .menu-list-title p {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: auto;
}
.menu-list-phone .menu-list-item a, .menu-list-phone .menu-list-item p {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  color: #1a1311;
  margin: auto;
}
.menu-list-phone .menu-list-body > ul > li a {
  display: block;
  font-size: 20px;
  color: #1a1311;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
}

.booking-list {
  padding-top: 60px;
  padding-bottom: 580px;
}
.booking-list .booking-item {
  padding-left: 45px;
  padding-right: 45px;
}
.booking-list .booking-item:hover .booking-item-pic img {
  transform: scale(1.2);
}
.booking-list .booking-item:hover .booking-item-pic .dark-book-two {
  background-color: rgba(100, 74, 56, 0.5137254902);
}
.booking-list .booking-item p {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-top: 1em;
}
.booking-list .booking-item .booking-item-pic {
  border-radius: 33px;
  overflow: hidden;
  position: relative;
}
.booking-list .booking-item .booking-item-pic img {
  width: 100%;
  transform: scale(1);
  transition: 0.2s;
}
.booking-list .booking-item .booking-item-pic .dark-book-two {
  width: 100%;
  inset: 0;
  background-color: rgba(100, 74, 56, 0);
  cursor: pointer;
}
.booking-list .booking-item .booking-item-pic .dark-book-two:hover .dark-book-pic {
  opacity: 1;
}
.booking-list .booking-item .booking-item-pic .dark-book-two .dark-book-pic {
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  opacity: 0;
  transition: 0.3s;
}
.booking-list .booking-item .booking-item-pic .dark-book-two .dark-book-pic img {
  width: 100%;
}
.booking-list .booking-item .booking-pic-border {
  outline: 2px solid #b9b8b6;
}

.booking-charge {
  padding-top: 67px;
  margin-bottom: 50px;
}

.booking-back-btn {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 100px;
  border-bottom: 1px solid #1a1311;
}
.booking-back-btn:hover a {
  padding: 0 40px 0 38px;
}
.booking-back-btn a {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px;
  text-decoration: none;
  color: #1a1311;
  padding: 0 28px;
  transition: 0.2s;
}
.booking-back-btn .back-btn-pic {
  width: 61px;
}
.booking-back-btn .back-btn-pic img {
  width: 100%;
}

.booking-bike-item {
  max-width: 350px;
  margin: auto;
  margin-bottom: 67px;
}
.booking-bike-item:hover .booking-bike-pic .product-dark-box {
  background-color: rgba(100, 74, 56, 0.6235294118);
}
.booking-bike-item:hover .booking-bike-pic .product-dark-box .product-dark-pic {
  opacity: 1;
}
.booking-bike-item h5 {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 1em 0;
  text-align: center;
  color: #1a1311;
}
.booking-bike-item .booking-bike-txt span {
  font-size: 20px;
  font-weight: 800;
  color: #b2b2b2;
}
.booking-bike-item .booking-bike-txt p {
  font-size: 20px;
  font-weight: 800;
  color: #ef1d1d;
}
.booking-bike-item .booking-bike-pic {
  width: 100%;
  border-radius: 33px;
  overflow: hidden;
}
.booking-bike-item .booking-bike-pic img {
  width: 100%;
  vertical-align: middle;
}
.booking-bike-item .booking-bike-pic .product-dark-box {
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: rgba(100, 74, 56, 0);
  cursor: pointer;
  transition: 0.2s;
}
.booking-bike-item .booking-bike-pic .product-dark-box .product-dark-pic {
  display: block;
  width: 27px;
  height: 27px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.3s;
}
.booking-bike-item .booking-bike-pic .product-dark-box .product-dark-pic img {
  width: 100%;
}

.booking-bike-list {
  padding-top: 60px;
  margin-bottom: 190px;
}

.page-navigation {
  display: block;
  padding-top: 200px;
}

.pagination-list {
  width: -moz-fit-content;
  width: fit-content;
}
.pagination-list > li {
  padding: 0 15px 5px;
}
.pagination-list > li > a {
  text-decoration: none;
  color: #1a1311;
  font-size: 22px;
  font-weight: 800;
}

.booking-list.tainan-list .booking-item p {
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 991px) {
  .booking-list {
    padding-top: 0px;
    padding-bottom: 132px;
  }
  .booking-list .booking-item {
    border-radius: 33px;
    padding: 0 1rem;
  }
  .booking-list .booking-item p {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-top: 1em;
  }
  .booking-list .booking-item .booking-item-pic img {
    width: 100%;
  }
  .section-checkout-carts {
    display: none;
  }
  .booking-back-btn a {
    padding: 0 20px;
  }
  .booking-back-btn .back-btn-pic {
    width: 40px;
  }
  .page-navigation {
    display: block;
    padding-top: 150px;
  }
  .booking-bike-item {
    max-width: 350px;
    margin: auto;
    margin-bottom: 40px;
  }
  .booking-bike-item .booking-bike-pic {
    width: 100%;
    border-radius: 33px;
    overflow: hidden;
  }
  .booking-bike-item .booking-bike-pic img {
    width: 100%;
    vertical-align: middle;
  }
}
/* inner-main */
.product-inner-main {
  padding-top: 70px;
}

.pro-inner-txt {
  align-items: center;
}
.pro-inner-txt h3 {
  font-size: 1.554404vw;
  font-weight: 800;
  color: #505050;
  letter-spacing: 3px;
}
.pro-inner-txt h3::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #1a1311;
  margin-top: 0.6em;
}
.pro-inner-txt .pro-inner-price {
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 2.5px;
  padding: 1em 0;
  border-bottom: 1px dashed #1a1311;
}
.pro-inner-txt .pro-inner-price span {
  color: #b2b2b2;
  margin-right: 5em;
}
.pro-inner-txt .pro-inner-price p {
  font-size: 25px;
  color: #ef1d1d;
}
.pro-inner-txt .pro-inner-content {
  padding: 1em 0;
}
.pro-inner-txt .pro-inner-content p {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.6;
}

.pro-inner-btn {
  margin-top: auto;
}
.pro-inner-btn button {
  width: 90%;
  border: none;
  background-color: #f8b11b;
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  padding: 1.1em 0;
  border-radius: 60px;
  transform: rotate(0deg);
}
.pro-inner-btn button:hover .pro-inner-btn-pic {
  transform: rotate(-45deg);
}
.pro-inner-btn button .pro-inner-btn-pic {
  margin-left: 12px;
  width: 20px;
  transition: 0.3s;
}
.pro-inner-btn button .pro-inner-btn-pic img {
  width: 100%;
}

.nav-tabs .nav-link.active button,
.nav-item-title button {
  font-size: 1.042vw;
  text-align: center;
  border-radius: 30px 30px 0 0;
  overflow: hidden;
  padding: 15px 50px;
  letter-spacing: 2px;
}

.nav-item-title button {
  background-color: transparent;
  color: #1a1311;
}

.nav-tabs .nav-link.active {
  background-color: #1a1311;
  color: #fff;
  border-color: #1a1311;
}

.nav-link:hover,
.nav-link:focus {
  color: #1a1311;
  border-color: #1a1311;
}

.nav-tabs .nav-link {
  border-color: #f2f2f2;
  border-radius: 30px 30px 0 0;
  overflow: hidden;
}

.nav-tabs {
  --bs-nav-tabs-border-color: #505050;
}

.product-tab-content h3 {
  color: #1a1311;
  letter-spacing: 2px;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 1em;
}
.product-tab-content p {
  font-size: 1.042vw;
  letter-spacing: 2px;
  line-height: 1.4;
  margin-bottom: 1em;
}

li.nav-item.nav-item-title {
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  border: 1px solid #1a1311;
  border-bottom: none;
}

/* inner-main-end */
.tab-pane-pic {
  width: 50%;
  margin-top: 40px;
}
.tab-pane-pic img {
  width: 100%;
}

.product-inner-main h2 {
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 0.1em;
  color: #1a1311;
  margin-bottom: 1em;
}

.pro-inner-txt .tainan-inner-txt h3 {
  margin-bottom: 0px importan;
}

@media (max-width: 1300px) {
  .pro-inner-txt h3 {
    font-size: 20px;
  }
  .pro-inner-txt .pro-inner-price {
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 2.5px;
    padding: 1em 0;
    border-bottom: 1px dashed #1a1311;
  }
  .pro-inner-txt .pro-inner-price span {
    color: #b2b2b2;
    margin-right: 5em;
  }
  .pro-inner-txt .pro-inner-price p {
    font-size: 15px;
    color: #ef1d1d;
  }
  .pro-inner-txt .pro-inner-content {
    padding: 1em 0;
  }
  .pro-inner-txt .pro-inner-content p {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.6;
  }
}
@media (max-width: 992px) {
  /* inner-main */
  .nav-item-title button {
    font-size: 16px;
    text-align: center;
    border-radius: 0;
    padding: 10px 0px;
    letter-spacing: 1.6px;
  }
  .pro-inner-txt h3 {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 4.5px;
    margin-top: 36px;
  }
  .pro-inner-txt h3::after {
    width: 100%;
    margin-bottom: 0px;
  }
  .pro-inner-txt .pro-inner-price {
    font-size: 16px;
    justify-content: space-between;
    padding-bottom: 1em;
  }
  .pro-inner-txt .pro-inner-price span {
    margin-right: 0em;
  }
  .pro-inner-txt .pro-inner-price p {
    font-size: 16px;
  }
  .product-tab-content p {
    font-size: 20px;
    letter-spacing: 1.6px;
    line-height: 2;
  }
  .product-tab-content h3 {
    font-size: 25px;
  }
  .pro-inner-txt p {
    font-size: 20px;
    justify-content: space-between;
  }
  .nav-item-title {
    width: 33.3333%;
  }
  .nav-tabs .nav-link,
  .nav-tabs .nav-link.active {
    width: 100%;
  }
  .product-nav-tabs {
    border-bottom: 1px solid #1a1311;
  }
  /* inner-main-end */
  .pro-inner-btn {
    margin-bottom: 70px;
  }
  .tab-pane-pic {
    width: 100%;
    margin-top: 40px;
  }
}
.section-checkout-tltle {
  margin-top: 45px;
  margin-bottom: 70px;
}
.section-checkout-tltle .checkout-tltle-pic {
  width: 32.5%;
  margin: auto;
}
.section-checkout-tltle .checkout-tltle-pic img {
  width: 100%;
}

.section-checkout-content h3 {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  background-color: #fa0;
  padding: 0.5em 1em;
  border-radius: 30px;
  margin-bottom: 1em;
}
.section-checkout-content p {
  display: flex;
  align-items: center;
  font-size: 20px;
  letter-spacing: 1.2px;
  font-weight: 500;
  margin-bottom: 1em;
  line-height: 1.4;
}
.section-checkout-content p i {
  margin-right: 5px;
}
.section-checkout-content p span {
  color: #e51f1f;
  font-weight: 800;
}
.section-checkout-content h5 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #167ee6;
  margin-bottom: 1em;
  line-height: 1.4;
}

.priceCard::after {
  content: "依車型租金";
  font-size: 20px;
  color: #fff;
  display: block;
  padding: 3.5px 12px;
  background-color: #82684d;
  margin-left: 1em;
}

.section-checkout-carts {
  margin-top: 100px;
  width: 100%;
}
.section-checkout-carts th,
.section-checkout-carts td {
  padding: 8px;
  text-align: left;
}
.section-checkout-carts td {
  padding: 26px;
}
.section-checkout-carts td span {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 1px;
  color: #1a1311;
}
.section-checkout-carts td .cart-pic {
  width: 116px;
  margin-right: 1em;
}
.section-checkout-carts td .cart-del {
  width: 21px;
  float: right;
  transform: translateX(-1.5rem);
}
.section-checkout-carts td .cart-del img {
  width: 100%;
}
.section-checkout-carts td p {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}
.section-checkout-carts td input {
  float: right;
}
.section-checkout-carts tbody td {
  border-bottom: 1px dashed #1a1311;
}
.section-checkout-carts thead {
  padding: 21px 26px;
  font-size: 20px;
  font-weight: 500;
  background-color: #1a1311;
  color: #fff;
}
.section-checkout-carts thead tr th + th {
  text-align: center;
}

.section-checkout-step {
  padding-top: 100px;
}
.section-checkout-step .section-checkout-step-main {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.section-checkout-step .checkout-step-item .checkout-step-pic {
  width: 162px;
}
.section-checkout-step .checkout-step-item .checkout-step-pic img {
  width: 100%;
}
.section-checkout-step .checkout-step-item p {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #1a1311;
  text-align: center;
  margin-top: 1em;
}
.section-checkout-step .checkout-step-arrow {
  margin: 0 30px;
  width: 17px;
  transform: translateY(-1rem);
}
.section-checkout-step .checkout-step-arrow img {
  width: 100%;
}

.checkout-total .checkout-total-price {
  padding-top: 50px;
  padding-bottom: 50px;
}
.checkout-total .checkout-total-price p {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #1a1311;
}
.checkout-total .checkout-total-price span {
  font-size: 25px;
  font-weight: 800;
  color: #c50500;
  letter-spacing: 0.1em;
  margin-left: 137px;
}

.checkout-total-btns button {
  width: 200px;
  border-radius: 4px;
  overflow: hidden;
  border: none;
  padding: 13px 35px;
  color: #fff;
}
.checkout-total-btns button:first-child {
  background-color: #b1aba9;
  position: relative;
  z-index: 1;
}
.checkout-total-btns button:first-child::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  background-color: #d1cecd;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s ease-in;
  z-index: -1;
}
.checkout-total-btns button:first-child:hover::before {
  width: 100%;
  height: 100%;
}
.checkout-total-btns button:nth-child(2) {
  background-color: #f8b11b;
  margin-left: 20px;
  position: relative;
  z-index: 1;
}
.checkout-total-btns button:nth-child(2)::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  background-color: #ffc54b;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s ease-in;
  z-index: -1;
}
.checkout-total-btns button:nth-child(2):hover::before {
  width: 100%;
  height: 100%;
}

.section-checkout-order .form-check-input:checked {
  background-color: #c40500;
}
.section-checkout-order .checkout-order-main {
  width: 74.60317%;
  margin: auto;
}
.section-checkout-order .checkout-order-main .checkout-order-title {
  padding: 100px 0 70px;
}
.section-checkout-order .checkout-order-main .checkout-order-title .checkout-order-title-pic {
  width: 49.63%;
  max-width: 429px;
  margin: auto;
}
.section-checkout-order .checkout-order-main .checkout-order-title .checkout-order-title-pic img {
  width: 100%;
}
.section-checkout-order .checkout-order-main .checkout-order-box .section-order-item label {
  font-size: 20px;
  letter-spacing: 1.2px;
  font-weight: 800;
}
.section-checkout-order .checkout-order-main .checkout-order-box .section-order-item label span {
  color: #c50500;
}
.section-checkout-order .checkout-order-main .checkout-order-box .section-order-item input {
  height: 64px;
}
.section-checkout-order .checkout-order-main .checkout-order-box .section-order-item input::-moz-placeholder {
  font-size: 20px;
  letter-spacing: 3px;
  color: #e6e6e6;
}
.section-checkout-order .checkout-order-main .checkout-order-box .section-order-item input::placeholder {
  font-size: 20px;
  letter-spacing: 3px;
  color: #e6e6e6;
}
.section-checkout-order .checkout-order-main .checkout-order-box .order-checkbox {
  margin-top: 1.3em;
}
.section-checkout-order .checkout-order-main .checkout-order-box .order-checkbox label {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 3px;
}
.section-checkout-order .checkout-order-main .checkout-order-box .order-checkbox label a {
  text-decoration: none;
  color: #c50500;
}
.section-checkout-order .form-check-input[type=checkbox] {
  border-radius: 0;
  border: 3px solid;
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}

.checkout-pay-order .form-check-input[type=radio] {
  width: 15px;
  height: 15px;
}
.checkout-pay-order .form-check-input:checked {
  background-color: #1a1311;
}
.checkout-pay-order .form-check {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1em;
}
.checkout-pay-order .form-check label {
  width: 250px;
  font-size: 20px;
  color: #fff;
  padding: 0.9em 1em;
  background-color: #f8b11b;
  border-radius: 4px;
  margin-left: 1.5em;
}
.checkout-pay-order .form-check p {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-left: 2.5em;
  line-height: 1.3;
}

.checkout-pay-order-btn {
  margin-top: 100px;
  margin-bottom: 150px;
  display: block;
  border: none;
  background-color: #c50500;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  padding: 15px 0;
  position: relative;
  z-index: 1;
}
.checkout-pay-order-btn::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  background-color: #f6534e;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s ease-in;
  z-index: -1;
}
.checkout-pay-order-btn:hover::before {
  width: 100%;
  height: 100%;
}

.checkout-carts-phone {
  margin-top: 40px;
}
.checkout-carts-phone .carts-phone-title {
  background-color: #1a1311;
  padding: 0.5em 1.5em;
}
.checkout-carts-phone .carts-phone-title h4 {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.1em;
}
.checkout-carts-phone .checkout-carts-phone-item {
  border-bottom: 1px dashed #1a1311;
  padding-bottom: 30px;
}
.checkout-carts-phone .checkout-carts-phone-item .carts-phone-item-top {
  padding: 25px 15px;
}
.checkout-carts-phone .checkout-carts-phone-item .carts-phone-item-top .checkout-carts-phone-pic {
  width: 21.7391vw;
  min-width: 60px;
}
.checkout-carts-phone .checkout-carts-phone-item .carts-phone-item-top .checkout-carts-phone-pic img {
  width: 100%;
}
.checkout-carts-phone .checkout-carts-phone-item .carts-phone-item-top p {
  font-size: 20px;
  font-weight: 500;
  color: #1a1311;
  letter-spacing: 0.1em;
}
.checkout-carts-phone .checkout-carts-phone-item .carts-phone-item-top .checkout-carts-phone-del {
  width: 22px;
}
.checkout-carts-phone .checkout-carts-phone-item .carts-phone-item-top .checkout-carts-phone-del img {
  width: 100%;
}
.checkout-carts-phone .checkout-carts-phone-item .carts-phone-item-bot {
  padding: 0px 15px;
}
.checkout-carts-phone .checkout-carts-phone-item .carts-phone-item-bot input {
  width: 21.7391vw;
  height: 33px;
}
.checkout-carts-phone .checkout-carts-phone-item .carts-phone-item-bot p {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1.2px;
  color: #1a1311;
}

@media (max-width: 992px) {
  .section-checkout-tltle {
    margin-top: 75px;
    margin-bottom: 40px;
  }
  .section-checkout-tltle .checkout-tltle-pic {
    width: 100%;
    margin: auto;
  }
  .section-checkout-tltle .checkout-tltle-pic img {
    width: 100%;
  }
  .section-checkout-content h3 {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #fa0;
    padding: 0.5em 1em;
    border-radius: 30px;
    margin-bottom: 1.5em;
  }
  .section-checkout-content p {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
    letter-spacing: 1.2px;
    font-weight: 500;
    margin-bottom: 1em;
  }
  .section-checkout-content p i {
    margin-right: 5px;
  }
  .section-checkout-content p span {
    color: #e51f1f;
    font-weight: 800;
  }
  .section-checkout-content h5 {
    font-size: 20px;
  }
  .priceCard::after {
    padding: 2px 12px;
    background-color: #82684d;
    margin-left: 0.5em;
    margin-top: 0.5em;
    font-size: 4vw;
  }
  .section-checkout-step {
    padding-top: 80px;
  }
  .section-checkout-step .section-checkout-step-main {
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
  .section-checkout-step .checkout-step-item .checkout-step-pic {
    width: 20vw;
    min-width: 80px;
  }
  .section-checkout-step .checkout-step-item p {
    font-size: 15px;
  }
  .section-checkout-step .checkout-step-arrow {
    margin: 0 15px;
    width: 7px;
    flex-shrink: 0;
    transform: translateY(-1rem);
  }
  .section-checkout-step .checkout-step-arrow img {
    width: 100%;
  }
  .checkout-total .checkout-total-price {
    padding-top: 29px;
    padding-bottom: 29px;
  }
  .checkout-total .checkout-total-price p {
    font-size: 20px;
  }
  .checkout-total .checkout-total-price span {
    font-size: 20px;
  }
  .checkout-total-btns {
    flex-wrap: wrap;
  }
  .checkout-total-btns button {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    border: none;
    padding: 13px 35px;
    color: #fff;
  }
  .checkout-total-btns button:nth-child(2) {
    margin-left: 0px;
    margin-top: 20px;
  }
  .section-checkout-order .checkout-order-main {
    width: 100%;
  }
  .section-checkout-order .checkout-order-main .checkout-order-title {
    padding: 70px 0 50px;
  }
  .section-checkout-order .checkout-order-main .checkout-order-title .checkout-order-title-pic {
    width: 100%;
    max-width: 429px;
  }
  .section-checkout-order .checkout-order-main .checkout-order-box .section-order-item label {
    font-size: 20px;
    letter-spacing: 1.2px;
    font-weight: 800;
    line-height: 1.3;
  }
  .section-checkout-order .checkout-order-main .checkout-order-box .section-order-item label span {
    color: #c50500;
  }
  .section-checkout-order .checkout-order-main .checkout-order-box .section-order-item input {
    height: 60px;
  }
  .section-checkout-order .checkout-order-main .checkout-order-box .section-order-item input::-moz-placeholder {
    font-size: 20px;
    letter-spacing: 3px;
    color: #e6e6e6;
  }
  .section-checkout-order .checkout-order-main .checkout-order-box .section-order-item input::placeholder {
    font-size: 20px;
    letter-spacing: 3px;
    color: #e6e6e6;
  }
  .section-checkout-order .checkout-order-main .checkout-order-box .order-checkbox {
    margin-top: 1.3em;
  }
  .section-checkout-order .checkout-order-main .checkout-order-box .order-checkbox label {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 3px;
  }
  .section-checkout-order .checkout-order-main .checkout-order-box .order-checkbox label a {
    text-decoration: none;
    color: #c50500;
  }
  .section-checkout-order .form-check-input[type=checkbox] {
    border-radius: 0;
    border: 3px solid;
    width: 24px;
    height: 24px;
    margin-right: 1rem;
  }
  .checkout-pay-order .form-check-input[type=radio] {
    width: 24px;
    height: 24px;
    transform: translateY(40px);
  }
  .checkout-pay-order .form-check-input:checked {
    background-color: #1a1311;
  }
  .checkout-pay-order .form-check {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0;
  }
  .checkout-pay-order .form-check label {
    width: 100%;
    font-size: 20px;
    color: #fff;
    padding: 0.9em 2em;
    background-color: #f8b11b;
    border-radius: 4px;
    margin-left: 1em;
  }
  .checkout-pay-order .form-check p {
    margin-left: 1em;
    margin-top: 0.5em;
  }
  .checkout-pay-order-btn {
    margin-top: 100px;
    margin-bottom: 70px;
    display: block;
    border: none;
    background-color: #c50500;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    padding: 15px 0;
  }
}
.section-qa-main {
  padding-bottom: 410px;
}
.section-qa-main .accordion-item {
  margin-bottom: 25px;
  background-color: transparent;
  border: 0;
}
.section-qa-main .accordion-item button {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #1a1311;
  padding: 12px 1em;
  background-color: #eee7e1;
}
.section-qa-main .accordion-item button span {
  font-size: 25px;
}
.section-qa-main .accordion-button::after {
  background-image: url(../src/web/icon/plus-solid.svg);
}
.section-qa-main .accordion-button:not(.collapsed)::after {
  transform: none;
  background-image: url(../src/web/icon/minus-solid.svg);
}
.section-qa-main .accordion-body {
  display: flex;
  padding: 0;
  padding-top: 1em;
}
.section-qa-main .accordion-body .accordion-a h3 {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #1a1311;
  padding-left: 1em;
}
.section-qa-main .accordion-body .accordion-txt p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.1em;
  color: #1a1311;
  transform: translateY(0.2em);
}
.section-qa-main .accordion-body .accordion-txt p span {
  color: #d91b1b;
  font-weight: 700;
}

@media (max-width: 992px) {
  .section-qa-main {
    padding-bottom: 180px;
  }
  .section-qa-main .accordion-item {
    margin-bottom: 25px;
    background-color: transparent;
    border: 0;
  }
  .section-qa-main .accordion-item button {
    font-size: 18px;
  }
  .section-qa-main .accordion-item button span {
    font-size: 18px;
  }
  .section-qa-main .accordion-body {
    flex-direction: column;
    padding-left: 18px;
  }
  .section-qa-main .accordion-body .accordion-a h3 {
    font-size: 25px;
    padding-left: 0;
    margin-bottom: 0.3em;
  }
  .section-qa-main .accordion-body .accordion-txt p {
    font-size: 18px;
    transform: translateY(-0.1em);
  }
}
.section-checkout-order .checkout-order-main.contact-main {
  padding-bottom: 350px;
  margin: 0;
}
.section-checkout-order .checkout-order-main.contact-main h3 {
  font-size: 20px;
  letter-spacing: 1.2px;
  font-weight: 800;
  color: #1a1311;
  margin-bottom: 1.6em;
}
.section-checkout-order .checkout-order-main.contact-main h3 span {
  color: #e60000;
}

.contact-submit-btn {
  width: 100%;
  border: none;
  background-color: #fa0;
  color: #1a1311;
  font-size: 25px;
  font-weight: 700;
  padding: 14px 0;
  margin-top: 60px;
  border-radius: 5px;
}
.contact-submit-btn:hover {
  color: transparent;
}
.contact-submit-btn:hover .submit-btn-pic {
  transform: translate(-50%, -50%) scale(1);
}
.contact-submit-btn .submit-btn-pic {
  width: 27px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s;
}
.contact-submit-btn .submit-btn-pic img {
  width: 100%;
  vertical-align: middle;
}

@media (max-width: 992px) {
  .section-checkout-order .checkout-order-main.contact-main {
    padding-bottom: 120px;
  }
  .contact-submit-btn {
    font-size: 20px;
  }
}
.sitemap-item + .sitemap-item {
  border-left: 1px solid #c5c2c1;
}
.sitemap-item:nth-child(5n) {
  border-left: none;
}
.sitemap-item .sitemap-item-title {
  padding-bottom: 35px;
}
.sitemap-item .sitemap-item-title > a {
  text-decoration: none;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  color: #1a1311;
  transition: 0.3s;
}
.sitemap-item .sitemap-item-title > a:hover {
  color: rgba(26, 19, 17, 0.4431372549);
}
.sitemap-item .sitemap-item-title > a::before {
  content: "";
  display: block;
  width: 9px;
  height: 42px;
  background-color: #f8b11b;
  margin-right: 20px;
  transform: translateY(5px);
}
.sitemap-item nav {
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 13%;
}
.sitemap-item nav ul li:first-child {
  margin-bottom: 0.5em;
}
.sitemap-item nav ul li a {
  text-decoration: none;
  color: #1a1311;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.6;
}

@media (max-width: 992px) {
  .sitemap-item + .sitemap-item {
    border-left: none;
    margin-top: 50px;
  }
  .sitemap-item:nth-child(5n) {
    border-left: none;
  }
  .sitemap-item .sitemap-item-title {
    padding-bottom: 35px;
  }
  .sitemap-item .sitemap-item-title > a {
    font-size: 30px;
  }
  .sitemap-item .sitemap-item-title > a::before {
    content: "";
    display: block;
    width: 9px;
    height: 42px;
    background-color: #f8b11b;
    margin-right: 20px;
    transform: translateY(3px);
  }
  .sitemap-item nav {
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 13%;
    margin-bottom: 0.3em;
  }
  .sitemap-item nav ul li:first-child {
    margin-bottom: 0.5em;
  }
  .sitemap-item nav ul li a {
    text-decoration: none;
    color: #1a1311;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 1.6;
  }
}
.bi-caret-down-fill::before {
  content: "\f229";
  color: #fff;
}/*# sourceMappingURL=all.css.map */