@import "../stylesheet/bootstrap.css";
@import "../stylesheet/swiper-bundle.min.css";
@import "../stylesheet/owl.carousel.min.css";
@import "../stylesheet/owl.theme.default.css";
@import "../stylesheet/reset.css";
body {
  font-family: "Noto Sans TC", sans-serif;
}

.sr-only {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.owl-theme .owl-nav {
  margin-top: 10px;
  position: absolute;
  top: -76px;
  left: 230px;
}

.owl-carousel .owl-stage-outer {
  padding-top: 10px;
  padding-bottom: 10px;
}

.owl-dots {
  opacity: 0;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: none !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  opacity: 0;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet {
  width: 24px;
  height: 10px;
  display: inline-block;
  border-radius: 10px;
  background: #333333;
  opacity: 1;
  transition: 0.5s;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: white;
  width: 10px;
}

.drop-menu {
  z-index: 940857;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffca4e;
  padding-top: 37.43961vw;
  padding-bottom: 48vw;
  transform: translateY(-101%);
  transition: 0.5s;
}
.drop-menu .phone-menu-close-btn {
  width: 13.5265vw;
  min-width: 45px;
  position: absolute;
  top: 5.5555vw;
  right: 8.6956vw;
}
.drop-menu .phone-menu-close-btn img {
  width: 100%;
  vertical-align: middle;
}
.drop-menu .phone-menu-logo {
  width: 131px;
  margin-bottom: 40px;
}
.drop-menu .phone-menu-logo img {
  width: 100%;
}

.section-phone-meun > ul {
  display: flex;
  flex-direction: column;
}
.section-phone-meun > ul .draw-dotted {
  width: 90%;
  margin: auto;
}
.section-phone-meun > ul > li {
  display: flex;
  align-items: center;
}
.section-phone-meun > ul > li .nav-pic {
  width: 30px;
  margin-right: 20px;
  margin-left: 50px;
}
.section-phone-meun > ul > li .nav-pic img {
  width: 100%;
}
.section-phone-meun > ul > li > a {
  font-weight: 700;
  letter-spacing: 1px;
  padding: 30px 0;
  font-size: 20px;
  text-decoration: none;
  color: #1a1311;
}

.index-watchMore {
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 10px;
  border-bottom: 1px solid #1a1311;
  padding: 0 14px;
  padding-bottom: 10px;
}
.index-watchMore a {
  color: #1a1311;
  font-size: 20px;
  margin-right: 0.6em;
  font-weight: 500;
  text-decoration: none;
  display: block;
  opacity: 1;
  transition: 0.3s;
}
.index-watchMore .index-watchMore-pic {
  width: 14px;
  transform: translate(0px, 0px);
  transition: 0.3s;
}
.index-watchMore .index-watchMore-pic img {
  width: 100%;
}

.wrap {
  background-image: url(../src/phone/index/bg.png);
  background-size: cover;
}
.wrap .section-phone-navbar {
  background-color: #fff;
  padding: 23px 0;
}
.wrap .section-phone-navbar .phone-navbar-pic {
  width: 21.73913vw;
  min-width: 75px;
  margin-left: 8.21256vw;
  margin-right: 4.5893vw;
}
.wrap .section-phone-navbar .phone-navbar-pic img {
  width: 100%;
  vertical-align: middle;
}
.wrap .section-phone-navbar .menu-btn-pic {
  width: 13.5265vw;
  min-width: 45px;
}
.wrap .section-phone-navbar .menu-btn-pic img {
  width: 100%;
  vertical-align: middle;
}
.wrap .section-phone-navbar .search-bar {
  display: flex;
  justify-content: start;
  margin-right: 4.347826vw;
}
.wrap .section-phone-navbar .search-bar .form-pic-box {
  width: 45px;
  height: 45px;
  border-radius: 60px 0 0 60px;
  border: 1px solid #1a1311;
  border-right: none;
}
.wrap .section-phone-navbar .search-bar .form-pic-box .form-pic {
  width: 22px;
}
.wrap .section-phone-navbar .search-bar .form-pic-box .form-pic img {
  width: 100%;
  vertical-align: middle;
}
.wrap .section-phone-navbar .search-bar input {
  width: 28.01932vw;
  min-width: 95px;
  font-size: 18px;
  border: 1px solid #1a1311;
  border-left: none;
  border-radius: 0 60px 60px 0;
  height: 45px;
}
.wrap .section-phone-navbar .search-bar input::-moz-placeholder {
  color: #d1d1d1;
}
.wrap .section-phone-navbar .search-bar input::placeholder {
  color: #d1d1d1;
}
.wrap .section-phone-navbar .search-bar input:focus-visible {
  outline: none;
}
.wrap .section-index-priceDm {
  padding-left: 0;
  padding-right: 0;
}
.wrap .section-index-priceDm-main {
  width: 74.87922%;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
.wrap .section-index-product-main {
  width: 82.608695%;
  margin: auto;
  padding-bottom: 70px;
}
.wrap .section-index-product-main .section-index-product-title {
  font-size: 30px;
  letter-spacing: 0.1em;
  font-weight: 500;
  padding-bottom: 27px;
}
.wrap .section-index-product-main .section-index-product-title .index-product-pic {
  width: 28px;
  margin-right: 20px;
}
.wrap .section-index-product-main .section-index-product-title .index-product-pic img {
  width: 100%;
  vertical-align: middle;
}
.wrap .section-index-product-main .owl-bike {
  margin: auto;
  padding-bottom: 50px;
}
.wrap .section-index-product-main .owl-bike .item {
  max-width: 342px;
  transition: 0.3s;
}
.wrap .section-index-product-main .owl-bike .item:hover .dark-box {
  opacity: 0;
}
.wrap .section-index-product-main .owl-bike .item:hover {
  rotate: 5deg;
}
.wrap .section-index-product-main .owl-bike .item a {
  border-radius: 35px;
  overflow: hidden;
  text-decoration: none;
}
.wrap .section-index-product-main .owl-bike .item a .dark-box {
  width: 100%;
  inset: 0;
  opacity: 45%;
  background-color: #644a38;
  transition: 0.3s;
}
.wrap .section-index-product-main .owl-bike .item a p {
  font-size: 25px;
  font-weight: 800;
  color: #1a1311;
  right: 22px;
  bottom: 22px;
}
.wrap .section-index-about .section-index-about-main {
  background-color: #fff;
  width: 100%;
  padding: 50px 36px;
  position: relative;
  padding-bottom: 187px;
}
.wrap .section-index-about .section-index-about-main .rideMotopic {
  right: 0;
  bottom: -10%;
  width: 56.0386vw;
  min-width: 200px;
}
.wrap .section-index-about .section-index-about-main .rideMotopic img {
  width: 100%;
}
.wrap .section-index-about .section-index-about-main .section-index-about-pic {
  width: 100%;
}
.wrap .section-index-about .section-index-about-main .section-index-about-pic img {
  width: 100%;
}
.wrap .section-index-about .section-index-about-main .section-index-about-content {
  width: 100%;
  padding-top: 40px;
}
.wrap .section-index-about .section-index-about-main .section-index-about-content .index-about-watchMore {
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 10px;
  border-bottom: 1px solid #1a1311;
  padding: 0 14px;
  padding-bottom: 10px;
  margin-top: 170px;
}
.wrap .section-index-about .section-index-about-main .section-index-about-content .index-about-watchMore a {
  color: #1a1311;
  font-size: 20px;
  margin-right: 0.6em;
  font-weight: 500;
  text-decoration: none;
  display: block;
  opacity: 1;
  transition: 0.3s;
}
.wrap .section-index-about .section-index-about-main .section-index-about-content .index-about-watchMore .index-about-watchMore-pic {
  width: 14px;
  transform: translate(0px, 0px);
  transition: 0.3s;
}
.wrap .section-index-about .section-index-about-main .section-index-about-content .index-about-watchMore .index-about-watchMore-pic img {
  width: 100%;
}
.wrap .section-index-about .section-index-about-main .section-index-about-content .section-index-about-title {
  margin-bottom: 1em;
}
.wrap .section-index-about .section-index-about-main .section-index-about-content .section-index-about-title h3 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.1em;
}
.wrap .section-index-about .section-index-about-main .section-index-about-content .section-index-about-title .section-index-about-icon {
  width: 23px;
  margin-right: 20px;
}
.wrap .section-index-about .section-index-about-main .section-index-about-content .section-index-about-title .section-index-about-icon img {
  width: 100%;
  vertical-align: bottom;
}
.wrap .section-index-about .section-index-about-main .section-index-about-content p {
  font-size: 20px;
  letter-spacing: 0.6px;
  font-weight: 500;
  line-height: 1.6;
}
.wrap .phone-footer-main {
  border-top: 1px solid #333333;
  width: 82.1256%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 45px;
}
.wrap .phone-footer-logo,
.wrap .phone-footer-qcode {
  width: 106px;
  margin-bottom: 35px;
}
.wrap .phone-footer-logo img,
.wrap .phone-footer-qcode img {
  width: 100%;
  vertical-align: middle;
}
.wrap .footer-profile {
  padding-left: 0%;
}
.wrap .footer-profile > ul > li {
  display: flex;
  margin-bottom: 13px;
}
.wrap .footer-profile > ul > li .profile-pic {
  width: 16px;
  margin-right: 8px;
}
.wrap .footer-profile > ul > li .profile-pic img {
  width: 100%;
  vertical-align: middle;
}
.wrap .footer-profile > ul > li a {
  font-weight: 600;
  font-size: 17px;
  color: #1a1311;
  letter-spacing: 0.8px;
  text-decoration: none;
  line-height: 1.2;
}

.section-index-servie {
  padding-top: 260px;
  padding-bottom: 200px;
}
.section-index-servie .mySwiper {
  width: 85%;
  margin: auto;
  padding-bottom: 30px;
}
.section-index-servie .section-index-servie-title {
  width: 86%;
  margin: auto;
}
.section-index-servie .section-index-servie-title .servie-title-pic {
  width: 28px;
}
.section-index-servie .section-index-servie-title .servie-title-pic img {
  width: 100%;
}
.section-index-servie .section-index-servie-title h3 {
  font-size: 40px;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-left: 0.5em;
}
.section-index-servie .swiper-pagination-bullet {
  background-color: #9cb5ed;
}
.section-index-servie .swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #4e76cf;
  width: 10px;
}

.section-copyright {
  text-align: center;
  border-top: 1px solid #1a1311;
}
.section-copyright p {
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 1.6;
  font-weight: 500;
  padding-top: 1em;
  padding-bottom: 1em;
}
.section-copyright p a {
  text-decoration: none;
  color: #1a1311;
}

@media (min-width: 992px) {
  .owl-theme .owl-nav {
    margin-top: 10px;
    position: absolute;
    top: -100px;
    left: 230px;
  }
  .index-watchMore {
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 10px;
    border-bottom: 1px solid #1a1311;
    padding: 0 14px;
  }
  .index-watchMore:hover a {
    opacity: 0.45;
  }
  .index-watchMore:hover .index-watchMore-pic {
    transform: translate(5px, -10px);
    opacity: 0.45;
  }
  .index-watchMore a {
    color: #1a1311;
    font-size: 20px;
    margin-right: 0.6em;
    font-weight: 500;
    text-decoration: none;
    display: block;
    opacity: 1;
    transition: 0.3s;
  }
  .index-watchMore .index-watchMore-pic {
    width: 14px;
    transform: translate(0px, -10px);
    transition: 0.3s;
  }
  .index-watchMore .index-watchMore-pic img {
    width: 100%;
  }
  .wrap {
    position: relative;
    padding-top: 2.6041vw;
    width: 100%;
    display: flex;
    background-image: none;
  }
  .wrap .search-bar {
    display: flex;
    justify-content: center;
  }
  .wrap .search-bar .form-pic-box {
    width: 54px;
    height: 54px;
    border-radius: 60px 0 0 60px;
    border: 1px solid #1a1311;
    border-right: none;
  }
  .wrap .search-bar .form-pic-box .form-pic {
    width: 22px;
  }
  .wrap .search-bar .form-pic-box .form-pic img {
    width: 100%;
    vertical-align: middle;
  }
  .wrap .search-bar input {
    width: 143px;
    font-size: 20px;
    border: 1px solid #1a1311;
    border-left: none;
    border-radius: 0 60px 60px 0;
  }
  .wrap .search-bar input::-moz-placeholder {
    color: #d1d1d1;
  }
  .wrap .search-bar input::placeholder {
    color: #d1d1d1;
  }
  .wrap .search-bar input:focus-visible {
    outline: none;
  }
  .wrap .nav-sticky-box {
    width: 100%;
  }
  .wrap .main-header {
    width: 17%;
    position: sticky;
    top: 0;
    left: 0;
    height: -moz-fit-content;
    height: fit-content;
  }
  .wrap .main-header .logobox {
    padding-bottom: 30px;
  }
  .wrap .main-header .logobox .logo-pic {
    width: 61.818181%;
    margin: auto;
  }
  .wrap .main-header .logobox .logo-pic img {
    vertical-align: middle;
  }
  .wrap .main-header .section-navbar {
    width: 100%;
  }
  .wrap .main-header .section-navbar > ul > li {
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    padding-left: 27%;
  }
  .wrap .main-header .section-navbar > ul > li::before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    background-color: #fff7ee;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s ease-in;
    z-index: -1;
  }
  .wrap .main-header .section-navbar > ul > li:hover::before {
    width: 100%;
  }
  .wrap .main-header .section-navbar > ul > li > a {
    margin: auto;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #1a1311;
    padding: 0.8em 0;
    display: block;
    text-decoration: none;
    margin-left: 0.8em;
  }
  .wrap .main-header .nav-pic {
    width: 30px;
    margin-right: 13px;
  }
  .wrap .main-header .nav-pic img {
    width: 100%;
    vertical-align: middle;
  }
  .wrap .main-header .section-qCode {
    padding: 35px 0;
  }
  .wrap .main-header .section-qCode .qcode-pic {
    width: 112px;
    margin: auto;
  }
  .wrap .main-header .section-qCode .qcode-pic img {
    width: 100%;
    vertical-align: middle;
  }
  .wrap .main-header .section-search {
    padding-bottom: 41px;
  }
  .wrap .main-header .section-search .search-bar {
    display: flex;
    justify-content: center;
  }
  .wrap .main-header .section-search .search-bar .form-pic-box {
    width: 54px;
    height: 54px;
    border-radius: 60px 0 0 60px;
    border: 1px solid #1a1311;
    border-right: none;
  }
  .wrap .main-header .section-search .search-bar .form-pic-box .form-pic {
    width: 22px;
  }
  .wrap .main-header .section-search .search-bar .form-pic-box .form-pic img {
    width: 100%;
    vertical-align: middle;
  }
  .wrap .main-header .section-search .search-bar input {
    width: 143px;
    height: 54px;
    font-size: 20px;
    border: 1px solid #1a1311;
    border-left: none;
    border-radius: 0 60px 60px 0;
  }
  .wrap .main-header .section-search .search-bar input::-moz-placeholder {
    color: #d1d1d1;
  }
  .wrap .main-header .section-search .search-bar input::placeholder {
    color: #d1d1d1;
  }
  .wrap .main-header .section-search .search-bar input:focus-visible {
    outline: none;
  }
  .wrap .main-header .footer-profile {
    padding-left: 17%;
  }
  .wrap .main-header .footer-profile > ul > li {
    display: flex;
    margin-bottom: 18px;
  }
  .wrap .main-header .footer-profile > ul > li .profile-pic {
    width: 19px;
    margin-right: 11px;
  }
  .wrap .main-header .footer-profile > ul > li .profile-pic img {
    width: 100%;
    vertical-align: middle;
  }
  .wrap .main-header .footer-profile > ul > li a {
    font-weight: 600;
    font-size: 16px;
    color: #1a1311;
    letter-spacing: 0.8px;
    text-decoration: none;
    line-height: 1.2;
  }
  .wrap .index-main {
    width: 83%;
    background-image: url(../src/web/index/bg.png);
    z-index: 1;
  }
  .wrap .section-index-priceDm-main {
    width: 68.1761%;
    margin: auto;
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .wrap .section-index-product-main {
    width: 70.83333%;
    margin: auto;
  }
  .wrap .section-index-product-main .section-index-product-title {
    font-size: 40px;
    letter-spacing: 0.1em;
    font-weight: 500;
    padding-bottom: 53px;
  }
  .wrap .section-index-product-main .section-index-product-title .index-product-pic {
    width: 28px;
    margin-right: 20px;
  }
  .wrap .section-index-product-main .section-index-product-title .index-product-pic img {
    width: 100%;
    vertical-align: middle;
  }
  .wrap .section-index-product-main .owl-bike {
    margin: auto;
    padding-bottom: 63px;
  }
  .wrap .section-index-product-main .owl-bike .item {
    max-width: 400px;
  }
  .wrap .section-index-about .section-index-about-main {
    width: 89.30817%;
    padding: 55px 0px;
    position: relative;
  }
  .wrap .section-index-about .section-index-about-main .rideMotopic {
    right: -5%;
    bottom: -23%;
    width: 350px;
    min-width: 200px;
  }
  .wrap .section-index-about .section-index-about-main .rideMotopic img {
    width: 100%;
  }
  .wrap .section-index-about .section-index-about-main .section-index-about-pic {
    width: 55%;
  }
  .wrap .section-index-about .section-index-about-main .section-index-about-pic img {
    width: 100%;
  }
  .wrap .section-index-about .section-index-about-main .section-index-about-content {
    width: 45%;
    padding-top: 95px;
    padding-left: 5%;
  }
  .wrap .section-index-about .section-index-about-main .section-index-about-content .index-about-watchMore {
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 10px;
    border-bottom: 1px solid #1a1311;
    padding: 0 14px;
    padding-bottom: 10px;
    margin-right: auto;
    margin-top: 215px;
  }
  .wrap .section-index-about .section-index-about-main .section-index-about-content .index-about-watchMore:hover a {
    opacity: 0.45;
  }
  .wrap .section-index-about .section-index-about-main .section-index-about-content .index-about-watchMore:hover .index-about-watchMore-pic {
    transform: translate(5px, 0px);
    opacity: 0.45;
  }
  .wrap .section-index-about .section-index-about-main .section-index-about-content .index-about-watchMore a {
    color: #1a1311;
    font-size: 20px;
    margin-right: 0.6em;
    font-weight: 500;
    text-decoration: none;
    display: block;
    opacity: 1;
    transition: 0.3s;
  }
  .wrap .section-index-about .section-index-about-main .section-index-about-content .index-about-watchMore .index-about-watchMore-pic {
    width: 14px;
    transform: translate(0px, 0px);
    transition: 0.3s;
  }
  .wrap .section-index-about .section-index-about-main .section-index-about-content .index-about-watchMore .index-about-watchMore-pic img {
    width: 100%;
  }
  .wrap .section-index-about .section-index-about-main .section-index-about-content .section-index-about-title {
    margin-bottom: 1em;
  }
  .wrap .section-index-about .section-index-about-main .section-index-about-content .section-index-about-title h3 {
    font-size: 40px;
    letter-spacing: 1.5px;
  }
  .wrap .section-index-about .section-index-about-main .section-index-about-content .section-index-about-title .section-index-about-icon {
    width: 25px;
    margin-right: 20px;
  }
  .wrap .section-index-about .section-index-about-main .section-index-about-content .section-index-about-title .section-index-about-icon img {
    width: 100%;
    vertical-align: bottom;
  }
  .wrap .section-index-about .section-index-about-main .section-index-about-content p {
    font-size: 20px;
    letter-spacing: 0.6px;
    font-weight: 500;
    line-height: 1.6;
  }
}
@media (max-width: 991px) {
  .swiper-pagination-bullet {
    width: 15px;
    height: 8px;
  }
  .swiper-pagination-bullet-active {
    width: 8px;
  }
  .section-index-servie {
    padding-top: 260px;
    padding-bottom: 57px;
  }
  .section-index-servie .mySwiper {
    width: 85%;
    margin: auto;
    padding-bottom: 16px;
    padding-top: 20px;
  }
  .section-index-servie .section-index-servie-title {
    width: 86%;
    margin: auto;
  }
  .section-index-servie .section-index-servie-title .servie-title-pic {
    width: 28px;
  }
  .section-index-servie .section-index-servie-title .servie-title-pic img {
    width: 100%;
  }
  .section-index-servie .section-index-servie-title h3 {
    font-size: 30px;
  }
  .section-index-servie .swiper-pagination-bullet {
    background-color: #9cb5ed;
  }
  .section-index-servie .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #4e76cf;
    width: 10px;
  }
  .section-copyright p {
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 1.6;
    font-weight: 700;
  }
  .section-copyright p a {
    text-decoration: none;
    color: #1a1311;
  }
}
.section-bread .section-bread-main {
  width: 79.874213%;
  margin: auto;
}
.section-bread .section-bread-main .bread-list {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}
.section-bread .section-bread-main .bread-list li {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}
.section-bread .section-bread-main .bread-list li + li {
  margin-left: 10px;
}
.section-bread .section-bread-main .bread-list li a {
  text-decoration: none;
  padding: 1em 0;
  display: block;
}
.section-bread .section-bread-main .section-bread-pic {
  width: 20px;
}
.section-bread .section-bread-main .section-bread-pic img {
  width: 100%;
  vertical-align: middle;
}

.section-page-content .section-page-article-main {
  width: 79.874213%;
  margin: auto;
  padding-bottom: 200px;
}
.section-page-content .section-page-article-main .page-article-box {
  width: 100%;
  padding-bottom: 180px;
}
.section-page-content .section-page-article-main .page-article-box .section-page-article-title {
  padding: 35px 0;
  border-bottom: 1px dashed #1a1311;
}
.section-page-content .section-page-article-main .page-article-box .section-page-article-title h3 {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
}
.section-page-content .section-page-article-main .page-article-box .section-page-article-title .article-title-icon {
  margin-right: 1em;
  width: 28px;
}
.section-page-content .section-page-article-main .page-article-box .section-page-article-title .article-title-icon img {
  width: 100%;
  vertical-align: middle;
}
.section-page-content .section-page-article-main .page-article-box .section-page-article-content {
  padding: 2rem 2rem 0px 2rem;
}
.section-page-content .section-page-article-main .page-article-box .section-page-article-content h4 {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1.75px;
  margin-bottom: 0.8em;
  line-height: 1.6;
}
.section-page-content .section-page-article-main .page-article-box .section-page-article-content p {
  font-size: 20px;
  margin-bottom: 1em;
  letter-spacing: 1.25px;
  font-weight: 500;
  line-height: 1.6;
}
.section-page-content .page-article-content-bigPic {
  padding-top: 100px;
}

@media (max-width: 991px) {
  .section-bread .section-bread-main {
    width: 82.608695%;
  }
  .section-bread .section-bread-main .bread-list li {
    font-size: 13px;
  }
  .section-bread .section-bread-main .bread-list li + li {
    margin-left: 10px;
  }
  .section-bread .section-bread-main .bread-list li a {
    text-decoration: none;
    padding: 1em 0;
    display: block;
  }
  .section-bread .section-bread-main .section-bread-pic {
    width: 14px;
  }
}
.section-page-content .section-page-article-main {
  width: 82.608695%;
  margin: auto;
  padding-bottom: 50px;
}
.section-page-content .section-page-article-main .page-article-box {
  width: 100%;
  padding-bottom: 50px;
}
.section-page-content .section-page-article-main .page-article-box .section-page-article-title {
  padding: 20px 0;
}
.section-page-content .section-page-article-main .page-article-box .section-page-article-title h3 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.section-page-content .section-page-article-main .page-article-box .section-page-article-title .article-title-icon {
  width: 28px;
}
.section-page-content .section-page-article-main .page-article-box .section-page-article-content {
  padding: 1rem 0;
}
.section-page-content .section-page-article-main .page-article-box .section-page-article-content h4 {
  font-size: 30px;
}
.section-page-content .section-page-article-main .page-article-box .section-page-article-content p {
  font-size: 20px;
}
.section-page-content .page-article-content-bigPic {
  padding-top: 65px;
}

.section-product-nav {
  padding: 14.5px 0;
  width: 100%;
  border-top: 1px dashed #1a1311;
  border-bottom: 1px dashed #1a1311;
}
.section-product-nav > ul {
  width: -moz-fit-content;
  width: fit-content;
}
.section-product-nav > ul li + li {
  border-left: 1px dashed #1a1311;
}
.section-product-nav > ul li:last-child {
  border-right: 1px dashed #1a1311;
}
.section-product-nav > ul li:first-child {
  border-left: 1px dashed #1a1311;
}
.section-product-nav > ul li a {
  font-size: 22px;
  color: #1a1311;
  letter-spacing: 1.2px;
  text-decoration: none;
  padding: 23px 35px;
}

.menu-list-phone .accordion-button::after {
  display: none;
}
.menu-list-phone .accordion-button:not(.collapsed) {
  box-shadow: none;
}
.menu-list-phone .phone-menu-item:first-child .accordion-button {
  border-bottom: 1px dashed #1a1311;
}
.menu-list-phone .phone-menu-item + .phone-menu-item {
  transform: translateY(-2px);
  border-top: 1px dashed #1a1311;
}
.menu-list-phone .accordion-item {
  border-radius: 0;
}
.menu-list-phone .menu-list-title {
  background-color: #1a1311;
}
.menu-list-phone .menu-list-title p {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: auto;
}
.menu-list-phone .menu-list-item p {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #1a1311;
  margin: auto;
}
.menu-list-phone .menu-list-body > ul > li a {
  display: block;
  font-size: 20px;
  color: #1a1311;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
}

.booking-list {
  padding-top: 60px;
  padding-bottom: 580px;
}
.booking-list .booking-item {
  padding-left: 45px;
  padding-right: 45px;
}
.booking-list .booking-item:hover .booking-item-pic img {
  transform: scale(1.2);
}
.booking-list .booking-item:hover .booking-item-pic .dark-book-two {
  background-color: rgba(26, 19, 17, 0.368627451);
}
.booking-list .booking-item p {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-top: 1em;
}
.booking-list .booking-item .booking-item-pic {
  border-radius: 33px;
  overflow: hidden;
  position: relative;
}
.booking-list .booking-item .booking-item-pic img {
  width: 100%;
  transform: scale(1);
  transition: 0.2s;
}
.booking-list .booking-item .booking-item-pic .dark-book-two {
  width: 100%;
  inset: 0;
  background-color: rgba(26, 19, 17, 0);
  cursor: pointer;
}
.booking-list .booking-item .booking-item-pic .dark-book-two:hover .dark-book-pic {
  opacity: 1;
}
.booking-list .booking-item .booking-item-pic .dark-book-two .dark-book-pic {
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  opacity: 0;
  transition: 0.3s;
}
.booking-list .booking-item .booking-item-pic .dark-book-two .dark-book-pic img {
  width: 100%;
}

.booking-charge {
  padding-top: 67px;
  margin-bottom: 50px;
}

.booking-back-btn {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 100px;
  border-bottom: 1px solid #1a1311;
}
.booking-back-btn:hover a {
  padding: 0 40px 0 38px;
}
.booking-back-btn a {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px;
  text-decoration: none;
  color: #1a1311;
  padding: 0 28px;
  transition: 0.2s;
}
.booking-back-btn .back-btn-pic {
  width: 61px;
}
.booking-back-btn .back-btn-pic img {
  width: 100%;
}

@media (max-width: 991px) {
  .booking-list {
    padding-top: 0px;
    padding-bottom: 132px;
  }
  .booking-list .booking-item {
    border-radius: 33px;
  }
  .booking-list .booking-item p {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-top: 1em;
  }
  .booking-list .booking-item .booking-item-pic img {
    width: 100%;
  }
  .booking-back-btn a {
    padding: 0 20px;
  }
  .booking-back-btn .back-btn-pic {
    width: 40px;
  }
}/*# sourceMappingURL=all.css.map */